numpy==2.3.5
pandas==2.3.3
scipy==1.18.1
statsmodels==0.15.0
pydeseq2==0.5.4
anndata==0.13.3.post0
h5py==3.16.0
matplotlib==3.11.1
seaborn==0.13.2
scikit-learn==1.9.0
requests==2.34.2
rdata==1.1.0
python-docx==1.2.0
scanpy==1.12.4
liana==1.10.0
celltypist==1.7.1
scikit-image==0.26.0
docrep==0.3.2
mudata==0.4.1
plotnine==0.15.8
mizani==0.14.6
